# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
/backend/bin/
/backend/uploads/*
!/backend/uploads/.gitkeep

# Node
node_modules/
frontend/dist
frontend/build
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Generated assets
frontend/node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Database
*.db
*.sqlite

# Env
.env
.env.local
